
# IDE
.idea
.DS_Store
.kiro/
.vscode/*
!.vscode/settings.json
!.vscode/maven-lifecycle-mapping.xml

/static
/docs/
/.tmp/
/logs/

/server/src/main/resources/javascript/**
**/target/**
**/.jqwik-database

*.iml
*.zip
